<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Remaining Units Calculator</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>
  <script src="scripts.js"></script>
  <div class="container text-center">
    <h1>Remaining Units Calculator</h1>
    <p>
      Use me to calculate the number of units of pickup and grocery batches remaining for today
    </p>
    <p>
      In order to calculate the remaining units, we need to know how many are due for today, how many are currently
      being picked, and how many are currently open. You can get this information from MPM. This calculator has two
      modes to enter the currently active carts:
    <ul>
      <li class="text-start">
        <b>Individually:</b> You enter the number carts and then specify the total units in each of the active carts one by one.
      </li>
      <li class="text-start">
        <b>Summed Up:</b> You calculate the total units from all active carts yourself and enter that.
      </li>
    </ul>
    </p>
    <p>
      How would you like to enter the units in the OPU carts currently being picked:
    </p>
    <div class="btn-group" role="group" aria-label="Mode selector">
      <button type="button" class="btn btn-primary" onclick="getCarts()">Individually</button>
      <button type="button" class="btn btn-primary" onclick="enterNumDueToday()">Summed Up</button>
    </div>
    <div class="container" id="calculator"></div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

</body>

</html>